.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  width: 25px;
  animation: loading-anim 1s linear infinite;
}

@keyframes loading-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
