:root {
  --primary-color: #f0f0f0;
  --secondary-color: #1a1a1a;
  --secondary-50-color: hsla(0, 0%, 10%, 0.5);
  --secondary-10-color: hsla(0, 0%, 10%, 0.1);
  --third-color: #e6e6e6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--inter), sans-serif;
}

html {
  scrollbar-gutter: stable;
}

.main-button {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  white-space: nowrap;
}
.main-button:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.secondary_button {
  border: 2px solid var(--secondary-10-color);
  border-radius: 5px;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  white-space: nowrap;
}
.secondary_button:hover {
  border: 2px solid var(--secondary-50-color);
  transform: scale(1.03);
  transition: 0.3s;
}
.secondary_button:active {
  background-color: var(--secondary-10-color);
}

p {
  font-size: clamp(14px, 0.9rem + 0.25vw, 16px);
  color: var(--secondary-color);
}

h1 {
  font-size: clamp(32px, 2rem + 1.5vw, 46px);
  color: var(--secondary-color);
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: clamp(24px, 1.5rem + 1vw, 32px);
  font-weight: 500;
  color: var(--secondary-color);
  line-height: 1.3;
}

h3 {
  font-size: clamp(20px, 1.2rem + 0.5vw, 24px);
  color: var(--secondary-color);
  font-weight: 600;
}

h4 {
  font-size: clamp(16px, 1rem + 0.25vw, 18px);
  color: var(--secondary-color);
  font-weight: 500;
}
body {
  width: 100%;
  min-height: 100dvh;
  height: fit-content;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  max-width: 1440px;
  width: 100%;
  min-height: 100dvh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.closeAnimate {
  position: relative;
  animation: close 0.5s;
}

@keyframes close {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: 100px;
  }
}
