:root {
  --primary-color: #f0f0f0;
  --secondary-color: #1a1a1a;
  --secondary-50-color: hsla(0, 0%, 10%, 0.5);
  --secondary-10-color: hsla(0, 0%, 10%, 0.1);
  --third-color: #e6e6e6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--inter), sans-serif;
}

.main-button {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
}
.main-button:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.secondary_button {
  border: 1px solid var(--secondary-10-color);
  border-radius: 5px;
  width: 150px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
}
.secondary_button:hover {
  border: 1px solid var(--secondary-50-color);
  transform: scale(1.03);
  transition: 0.3s;
}
.secondary_button:active {
  background-color: var(--secondary-10-color);
}

p {
  font-size: clamp(14px, 2vw, 16px);
  color: var(--secondary-color);
}
h1 {
  font-size: clamp(32px, 4vw, 42px);
  color: var(--secondary-color);
  font-weight: 600;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
  color: var(--secondary-color);
  font-weight: 600;
}
body {
  width: 100%;
  min-height: 100dvh;
  height: fit-content;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  max-width: 1440px;
  width: 100%;
  min-height: 100dvh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
