:root {
  --primary-color: #f0f0f0;
  --secondary-color: #1a1a1a;
  --secondary-50-color: hsla(0, 0%, 10%, 0.5);
  --secondary-10-color: hsla(0, 0%, 10%, 0.1);
  --third-color: #e6e6e6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--inter), sans-serif;
}

p {
  font-size: 16px;
  color: var(--secondary-color);
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
body {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
