.navbar {
  width: 100%;
  height: fit-content;
}
.navbar_logo {
  height: 30px;
}
.navbar_menu ul {
  display: flex;
  list-style: none;
}

.navbar_menu ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  border: 1px solid black;
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
}
